{% extends 'layouts/panel.html' %} {% load static %} {% block content %}


<h2>Welcome to settings</h2>
<hr /> {% comment %} {% for classes in student_classes %}
<p>'{{classes.class_name}}'</p>
{% endfor %} {% endcomment %}
<div class="container-fluid">
    <div class="row">
        <div class='col-lg-6'>

            <div id='create-class' class="card shadow mb-4">
                <!-- Card Header - Accordion -->
                <a href="#collapseClass" class="d-block card-header py-3" data-toggle="collapse" role="button"
                    aria-expanded="true" aria-controls="collapseClass">
                    <h6 class="m-0 font-weight-bold text-primary">Create the classes here.</h6>
                </a>
                <!-- Card Content - Collapse -->
                <div class="collapse hide" id="collapseClass">
                    <div class="card-body">
                        {% include "add_class.html" %}
                    </div>
                </div>
            </div>

            <div class="card shadow mb-4">
                <div href="#collapseSubjects" class="d-block card-header py-3" data-toggle="collapse" role="button"
                    aria-expanded="true" aria-controls="collapseSubjects">
                    <h6 class="m-0 font-weight-bold text-primary">Create Subjects</h6>
                </div>
                <div class="collapse hide" id="collapseSubjects">
                    <div class="card-body">
                        {% include "add_subject.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}